body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #003366;
	padding: 20px;
	background-image: url(../images/bg.gif);
}
#php {
	display: none;
}

td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color:#000000;
}

a {
	color: #3366CC;
	text-decoration: none;
}

form {
	background-color: #CCCCCC;
	padding:5px;
	width: 3000px;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #006666;
	color: #DCDCDC;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  color: #006666;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: #006666;
  color: #DCDCDC;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFFFF;
}

.sidebarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #339999;
}

.sidebarFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
	padding: 5px;
	list-style: none;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCCCCC;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
  background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666; 
	font-weight: bolder;
	font-size: medium;
}

a:hover {
	text-decoration: underline;
}

.input {
	padding-left:5px;
	padding-right:5px;
	margin-left: 200px;
	height: 30px;
}



#login {
	width:750px;
	text-align:center;
	}


#welcome {
	position:absolute;
	float:left;
	display:block;
	width:45%;
	z-index: 999;
	left: 0px;
}

.fh {
float:left;
top:200px;
position:absolute;

}

.mensaje {
color:#FF0000;
padding:0px;
margin-top:-10px;

}

#loginform {
padding-bottom:0px;
margin-bottom:0px;
}

#marque {
padding-bottom:10px;
font-style:oblique;

}
#Encabezado {
padding-top:10px;
}
#formularioborrar {
	margin: 0 auto;
	width: 970px;
	text-align: center;
}

#formulario {
	margin: 0 auto;
	width: 970px;
	text-align: center;
}
#formulario3 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
#formulario2 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#formulario > .formulario_tiny {
	width: 250px;
}


#formularioborrar fieldset {
	border: 1px solid #000000;
	display: block;
	text-align: center;
	}
#formulario fieldset {
	border: 1px solid #000000;
	display: block;
	text-align: center;
}
#formulario3 fieldset {
	border: 1px solid #000000;
	display: block;
	text-align: center;
}
#formulario3 #filtro{
	border: 1px solid #000000;
	display: block;
	float:left;
	text-align: left;
	width:100%;
}
#formulario2 fieldset {
	border: 1px solid #000000;
	display: block;
	text-align: center;
}

#formularioborrar legend {
	font-weight: bolder;
	font-size: 18px;
	padding: 0 5px;
	text-align: left;
}

#formulario legend {
	font-weight: bolder;
	font-size: 18px;
	padding: 0 5px;
	text-align: left;
}
#formulario3 legend {
	font-weight: bolder;
	font-size: 18px;
	padding: 0 5px;
	text-align: left;
}
#filtro legend {
	font-weight: bolder;
	font-size: 14px;
	padding: 0 2px;
	text-align: left;
}

#formulario2 legend {
	font-weight: bolder;
	font-size: 18px;
	padding: 0 5px;
	text-align: left;
}
#formulario label {
	float: left;
	display: block;
	margin: 10px 10px 10px 10px;
	position: relative;
	z-index: 1;
	text-align: center;
}

#filtro label {
	float: left;
	display: block;
	margin: 0px;
	position: relative;
	z-index: 1;
	width:100%;
}
#filtro radio {
padding:5px;
width:10px;
height:10px;
}

#formulario2 label {
	float: left;
	display: block;
	margin: 10px 10px 10px 10px;
	position: relative;
}

#formulario input, #formulario select {
	display: block;
	width: 200px;
	height: 25px;
	padding: 5px;
}

#formulario input.uno {
	width: 120px;
	float: left;
     /*margin: 20px auto;*/
}
#formulario3 #filtro input.uno {
	width: 120px;
	height:30px;
	padding: 5px;
	margin: 10px 20px 10px 10px;
     /*margin: 20px auto;*/
}

br {
	clear: left;
}

#contenido {
}

#header {
	width:100%;
	z-index: 5;

}
ul, ol {
list-style:none;

}

ul.nav{
	float:right;
	position: relative;
	z-index: 1000;
}


.nav li{

}

.nav li a {
	background-color:#CCCCCC;
	font-size:17px;
	font-style:oblique;
	color:#3366FF;
	padding:10px 10px;
	padding-bottom:5px;
	display:block;
	font-weight: bold;
}

.nav li a:hover {
background-color:#666666;
}

.nav > li {
	float:left;
	border-bottom:solid;
border-left:solid;
border-bottom-color:#000033;
border-left-color:#000033;
}
.nav li ul {
	display:none;
	position:absolute;
	text-align: left;
	max-width:120px;
	z-index:10;
}

.nav li ul li a {
background-color:#FF0000;
margin-left:-40px;
padding-bottom:2px;
padding-top:2px;
	
}
.nav li:hover > ul {
display:block;

}
.nav li ul li a {
border-bottom:solid;
border-left:solid;
border-right:solid;
border-bottom-color:#333333;
border-left-color:#333333;
border-right-color:#333333;
}

.select {
min-height:100px;
height:100px;
}
#orden {
	text-align: right;
	position:relative;
	width:100%;}
#orden .label {
	float:left;
	margin-top:-10px;
	color: #000066;
	

}

.list li a{
display:block;
background-color:#CCCCCC;
border-style:solid;
border-color:#003366;
margin:0px;
padding-bottom:7px;
padding-top:7px;

}
.list {
padding:0px;
margin-left:300px;
float:left;
position:relative;
border-style:solid;
border-color:#003366;
width:330px;
}
.list li a:hover {
background-color:#666666;
color:#0033FF;
}

.list li a {

}

